{% extends "blog/base.html"%}
{% block content %}
    <h1>About Page</h1>
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-12"><p class="font_7">Third Eye Adventure Pty ltd was founded by a team of dynamic and enterprising people who have been working in the field of travel and tourism for many years.</p>
<p class="font_7">
Third Eye Adventure P Ltd is a full-service trekking and Tour operator run by both local Nepalese and Australian travel experts.  This international partnership has allowed us to create a company that’s strengths are not just in our intimate local knowledge, but also in our deep understanding of international travellers and the services they expect.  This ensures that all of our trips deliver the most authentic, well-managed and enjoyable experiences imaginable.</p>
<p class="font_7">
<p class="font_7">Our goal is to offer visitors a more intimate cultural experience whilst in these countries.  We’ve achieved this by partnering up with local entrepreneurs that have been found to provide such a service.  This not only gives our clients a more unique and memorable experience, but it also helps small local businesses.</p>
<p class="font_7">
<p class="font_7">We can offer you a wide range of services for solo travellers up to large groups including:</p>
<p class="font_7">
<ul class="font_8">
<li>
<p class="font_7">Day trekking</p>
</li>
<li>
<p class="font_7">Multi day trekking</p>
</li>
<li>
<p class="font_7">Cultural Tours</p>
</li>
<li>
<p class="font_7">Peak Climbing</p>
</li>
<li>
<p class="font_7">Tours and Trekking through Bhutan and Tibet</p>
</li>
<li>
<p class="font_7">Adventure sports</p>
<ul class="font_8">
<li>
<p class="font_7">Rafting</p>
</li>
<li>
<p class="font_7">Bungee Jumping</p>
</li>
<li>
<p class="font_7">Zip Lining</p>
</li>
<li>
<p class="font_7">Canyoning</p>
</li>
<li>
<p class="font_7">Paragliding</p>
</li>
<li>
<p class="font_7">Mountain Biking</p>
</li>
</ul>
</li>
<li>
<p class="font_7">Jungle Safari’s</p>
</li>
<li>
<p class="font_7">Spiritual/Religious Tours</p>
</li>
<li>
<p class="font_7">Yoga/Meditation Tours</p>
</li>
</ul>
<p class="font_7">
<p class="font_7">Custom designed tours are welcomed, simply let us know the areas of interest and we will deliver a tailor made itinerary.  By not fixing departure dates, it allows us to cater for any group size, there is no minimum for us to run.</p>
<p class="font_7">
<p class="font_7">Group discounts are also available.</p>
<p class="font_7">
<p class="font_7">We understand the wide variety of travellers today and the level of comfort expected, so we offer budget style tours for the money conscious; utilizing 2 star accommodation, all the way up to luxury 5+ star tours for people in search of a more comfortable and refined tour package.</p>
<p class="font_7">
<p class="font_7">Our Bhutan and Tibet tours offer people a chance to see a generally unknown world.  We offer many styles of tours within these countries and at very competitive prices.  These are becoming some of our most popular tours.</p>
<p class="font_7">
<p class="font_7">We have built up an impeccable reputation both locally and internationally.  You can expect to receive a caring and professional service from all of us here at Third Eye Adventure.</p>
<p class="font_7">
<p class="font_7">We truly hope our services are of interest to you.</p>
<p class="font_7">
<p class="font_7">If you have any questions please do not hesitate to contact us.
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
        <h2 class="entry-title" align="center">Our Values</h2>
        <h4 class="entry-title">MISSION:</h4>
        <p class="font_7"> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></h4><br>
        <h4 class="entry-title">VISION:</h4>
        <p class="font_7"> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="font_7">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

{% endblock content %}
