{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form class="" method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Reset Password</legend>
        <!-- Note: The form exists in the login view that was imported from
        from django.contrib.auth import views as auth_views
        The form here is not the same as the form in the register page
        The form in the register page is the actual form dictionary we created in the views file -->
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" name="button">Request Password Reset</button>
      </div>
    </form>
  </div>
{% endblock content%}
